html {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.banner,
main,
body {
    width: 100%;
    max-width: 1024px;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin: 0;
}


a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #274867;
}

#nav-brand,
#footer-brand {
    font-weight: 700;
}

.banner {
    display: flex;
    align-items: center;
    height: 61px;
    padding: 0 21px 0 21px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(1, 124, 255, 0.5);
}

header {
    justify-content: space-between;
}

nav {
    display: flex;
    width: 360px;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 45px 0;
    background-color: #E5F2FF;
}

#title-section,
#table-section {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 459px;
}

#title-section {
    margin-top: 20px;
}

#cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    max-width: 700px;
    margin: 10px 0 10px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: black 1px solid;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    margin: 25px 5px 25px 5px;
    text-align: center;
    background-color: #B9B9B9;
}

h1 {
    font-size: xx-large;
    margin: 0;
    padding: 0;
}

.card-header {
    border-bottom: black 1px solid;
    width: inherit;
}

table,
td,
th {
    padding: 3px;
    border: black 1px solid;
}

tbody th,
tbody td {
    background-color: white;
}

thead {
    background-color: #B9B9B9;
}

table {
    width: 100%;
}

footer {
    justify-content: space-between;
    border-top: 1px solid rgba(1, 124, 255, 0.5);
}

@media screen and (max-width: 700px) {

    .banner,
    main,
    body {
        width: 425px;
    }

    footer.banner {
        height: 239px;
    }

    footer.banner,
    header {
        justify-content: space-around;
    }

    .banner,
    #cards {
        flex-direction: column;
    }

    #title-section,
    table {
        width: 60%;
    }

    p {
        display: flex;
    }
}
